img {
  width:300px;
  padding:20px;
}

#oxygen-showing {
  display:none;
}

#flotation-showing {
  display:none;
}

#evacuation-showing {
  display:none;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}
